@{
    Layout = "_Layout";
}

@model BestRestaurant.Models.Restaurant
<div class="container">
<br>
<br>
<h2>Add a new restaurant</h2>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Seattle)
    @Html.DropDownList("SeattleId")

    <p><strong>Restaurant Name
    @Html.TextBoxFor((model => model.RestaurantName), new { @required  = "required",  @class="form-control", @style = "width: 160px;" }) </strong>

    <strong>Type
    @Html.TextBoxFor((model => model.Type), new { @required  = "required", @class="form-control", @style = "width: 160px;"})</strong></p>

    <p><strong>Location
    @Html.TextBoxFor((model => model.Location), new { @required  = "required", @class="form-control", @style = "width: 160px;"})</strong>

    <strong>Main Menu
    @Html.TextBoxFor((model => model.MainMenu), new { @required  = "required", @class="form-control", @style = "width: 160px;"})</strong></p>

    <p><strong>Rating
    @Html.TextBoxFor((model => model.Rating), new { @required  = "required", @class="form-control", @style = "width: 160px;"}) </strong></p>


    <input class="btn btn-primary" type="submit" value="Submit" style="cursor: pointer;">
    

}

<p>@Html.ActionLink("Show all restaurants", "Index")</p>

</div>