@{
    Layout = "_Layout";
}

@model BestRestaurant.Models.Restaurant
<div class="restaurantCreate">

    <h2>Add a new restaurant</h2>

    <div id="restaurantCreateForm">
    @using (Html.BeginForm())
    {
        @Html.LabelFor(model => model.Seattle)
        @Html.DropDownList("SeattleId")

        <p><strong>Restaurant Name
        @Html.TextBoxFor((model => model.RestaurantName), new { @required  = "required",  @placeholder = "ex> Din Tai Fang", @class="form-control", @style = "width: 160px;" }) </strong>

        <strong>Type
        @Html.TextBoxFor((model => model.Type), new { @required  = "required", @placeholder = "ex> Korean", @class="form-control", @style = "width: 160px;"})</strong></p>

        <p><strong>Location
        @Html.TextBoxFor((model => model.Location), new { @required  = "required", @placeholder = "ex> Ballard", @class="form-control", @style = "width: 160px;"})</strong>

        <strong>Main Menu
        @Html.TextBoxFor((model => model.MainMenu), new { @required  = "required", @placeholder = "ex> Pad Thai", @class="form-control", @style = "width: 160px;"})</strong></p>

        <p><strong>Rating
        @Html.TextBoxFor((model => model.Rating), new { @required  = "required", @placeholder = "ex> 5 out of 5", @class="form-control", @style = "width: 160px;"}) </strong></p>


        <input class="btn btn-primary" type="submit" value="Submit" style="cursor: pointer;">
    }
    </div>

</div>