@{
    Layout = "_Layout";
}

@model BestRestaurant.Models.Restaurant
<div class="restaurantDetails">
    <h2>Restaurant Details<h2>
        <hr />
        <h3>Area: @ViewBag.AreaName</h3>
        <h3>Restaurant Name: @Html.DisplayFor(model => model.RestaurantName)</h3>
        <h3>@Html.DisplayNameFor(model => model.Location): @Html.DisplayFor(model => model.Location)</h3>
        <h3>@Html.DisplayNameFor(model => model.Type): @Html.DisplayFor(model => model.Type)</h3>
        <h3>Main Menu: @Html.DisplayFor(model => model.MainMenu)</h3>
        <h3>@Html.DisplayNameFor(model => model.Rating): @Html.DisplayFor(model => model.Rating)</h3>
        <hr />

    <div id="restaurantDetailsLinks">
        <p>@Html.ActionLink("Edit this Restaurant", "Edit", new {id = Model.RestaurantId})</p>
        &nbsp &nbsp &nbsp
        <p>@Html.ActionLink("Delete this Restaurant", "Delete", new {id = Model.RestaurantId})</p>
    </div>
</div>
