@{
    Layout = "_Layout";
}

@model BestRestaurant.Models.Restaurant

<div class="restaurantEdit">
    <h2>Edit this Restaurant : @Html.DisplayFor(model => model.RestaurantName)</h2>

    <div id="restaurantEditForm">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(model => model.RestaurantId)

            <h3>Area:
            @Html.DropDownList("SeattleId")</h3>

            <p>Restaurant Name:
            @Html.EditorFor(model => model.RestaurantName, new { htmlAttributes = new { @class = "form-control" } })</p>

            <p>Location:
            @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control" } })</p>

            <p>Type:
            @Html.EditorFor(model => model.Type, new { htmlAttributes = new { @class = "form-control" } })</p>

            <p>Main Menu
            @Html.EditorFor(model => model.MainMenu, new { htmlAttributes = new { @class = "form-control" } })</p>

            <p>Rating
            @Html.EditorFor(model => model.Rating, new { htmlAttributes = new { @class = "form-control" } })</p>

            <input class="btn btn-primay" value="Save">
        }
    </div>
</div>