@{
    Layout = "_Layout";
}

@model BestRestaurant.Models.Restaurant

<h2>Restaurant Details</h2>
<h3>@Html.DisplayNameFor(model => model.Name) : @Html.DisplayFor(model => model.Name)</h3>

<p class="link">@Html.ActionLink("Edit this restaurant", "Edit", new {id = Model.RestaurantId})</p>
<p class="link">@Html.ActionLink("Delete this restaurant", "Delete", new {id = Model.RestaurantId})</p>
<p class="link">@Html.ActionLink("Back to restaurant list", "Index")</p>
<!-- <p class="link">@Html.ActionLink("Home", "Index", "Home")</p> -->