@{
    Layout = "_Layout";
}

<h2>Edit this restaurant: @Html.DisplayFor(model => model.Name)</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.RestaurantId)

    @Html.LableFor(model => model.Name)
    @Html.EditFor(model => model.Name)

    <input class="btn btn-primary" type="submit" value="save">
}

<p>@Html.ActionLink("Back to restaurant list", "Index")</p>